body {
  font-family: "Lato", "Noto Sans JP", sans-serif;
  letter-spacing: 1px;
  background-color: $white;
}

img {
  max-width: 100%;
}

button {
  &:focus {
    outline: none;
  }
}

h3,
.h3 {
  font-size: 15px !important;
  @include media-breakpoint-up(md) {
    font-size: 1.1rem !important;
  }
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15) !important;
}

.sec {
  position: relative;
  padding: 3rem 0;
  &-border {
    border-bottom: solid 0.5rem $secondary;
  }
}

.ttl {
  &-h2 {
    position: relative;
    text-align: center;
    font-size: 1.375rem;
    font-weight: normal;
    color: $info;
    margin: 1.5rem auto;
    @include media-breakpoint-up(md) {
      font-size: 1.4rem;
      width: 80%;
      margin: 1.5rem auto 2em auto;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 6px);
      left: 0;
      width: 100px;
      height: 6px;
      border-top: 1px solid $info;
      border-bottom: 1px solid $info;
    }
    &::before {
      left: auto;
      right: 0;
    }
  }
}

.sp-mode {
  @include media-breakpoint-up(md) {
    max-width: 768px;
    margin: 0 auto;
  }
}

.page-link {
  line-height: 1;
}

input[type="submit"], input[type="button"] {
   -webkit-appearance: none!important;
 }
