/*===================================================
 CTA
====================================================*/
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 225px;
  // height: 165px;
  margin-top: 45px;
  background: url("../images/bg-start.png");
  background-size: cover;
  background-position: center;
  @include media-breakpoint-up(md) {
    height: 165px;
  }

  h2 {
    color: $white;
    font-weight: bold;
    margin-bottom: 1.2rem;

    span {
      padding: 3px 4px 3px 7px;
      border-radius: 2px;
    }
  }

  a {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 12px 0;
    color: $white;
    text-align: center;
    border: 1px solid $white;
    border-radius: 30px;
    text-decoration: none!important;
    transition: .5s;
    &:hover {
      background: $white;
      color: $body-color;
    }
    &:nth-child(2) {
      margin-top: 1rem;
      @include media-breakpoint-up(md) {
        margin-top: 0;
        margin-left: 1rem;
      }
    }
  }
}

/*===================================================
 フッター
====================================================*/

.footer {
  .main {
    @include media-breakpoint-up(md) {
      padding: 30px 0;
    }
  }
}
