.modal {
  position: relative;

  &-content {
    position: absolute;
    top: 0;
    height: 100vh;
    border-radius: 0;
    @include media-breakpoint-up(md) {
      position: relative;
    }
  }

  &-body {
    border-radius: 0;
    /*-- タイトル --*/
    &-name {
      position: relative;
      font-weight: bold;
      display: block;
      text-align: center;
      border-bottom: 1px solid $light;

      .close {
        padding: 29px 0;
        position: absolute;
        top: 0;
        left: 1rem;
      }
    }
  }
  /*-- 絞り込みボタン --*/
  .btn {
    width: 100%;
    // position: absolute;
    left: 0;
    bottom: 1rem;
  }

  &-dialog-centered {
    margin: 0;
  }
}

.modal.show .modal-dialog {
  min-width: 100%;
}
