.mv {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  background: #F6F1D9;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 117px;
    z-index: 0;
    content: "";
    background-image: url("../images/mv_bg_icon_sp@2x.png");
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    @include media-breakpoint-up(md) {
      height: 100px;
      background-image: url("../images/mv_bg_icon_pc@2x.png");
    }
  }
  .container {
    padding: 0;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      max-width: 980px;
      margin: 2rem auto;
    }
  }
  &__bg {
    position: relative;
    background-image: url("../images/bg_mv_photo_sp.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 342px;
    padding: 0;
    @include media-breakpoint-up(md) {
      background-image: url("../images/bg_mv_photo_pc.png");
      background-position: center right;
      background-repeat: no-repeat;
      background-size: contain;
      height: calc(355px - 3rem);
    }
    .mv_stamp {
      position: absolute;
      top: 1rem;
      right: -1rem;
      @include media-breakpoint-up(md) {
        left: 380px;
      }
    }
    h2 {
      text-align: center;
      position: absolute;
      left: .5rem;
      bottom: 1rem;
      @include media-breakpoint-up(md) {
        top: 1rem;
        left: .5rem;
      }
    }
  }
  &__search {
    position: relative!important;
    @include media-breakpoint-up(md) {
      position: absolute!important;
      left: .5rem;
      bottom: 1rem;
      width: 40%;
    }
  }
    &-geo {
      position: relative;
      display: block;
      box-sizing: border-box;
      color: $body-color;
      padding: 1rem;
      border-bottom: solid 2px $light;
      font-size: $font-size-sm;
      @include media-breakpoint-up(md) {
        display: none;
        width: 50%;
        border-radius: 0.25rem;
        margin: 3rem auto 0;
      }
      &:hover {
        text-decoration: none;
      }
      &::after {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f105";
      }
      & > span {
        font-weight: bold;
        font-size: $font-size-base;
        margin-right: 3px;
      }
    }
  &__tenpo {
    text-align: center;
    margin: 2rem 0 0;
    &-wrap {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      border-radius: 10rem;
      background-color: $white;
      padding: 0.25rem 2rem;
      &::after {
        position: absolute;
        bottom: -0.6rem;
        left: 50%;
        content: "";
        width: 0.7rem;
        height: 0.7rem;
        background-color: $white;
        transform: rotate(45deg) translateX(-50%);
      }
    }
    &-num {
      font-size: 110%;
    }
    &-txt {
      font-size: $font-size-sm;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .mv {
    background-image: url("../images/bg_mv@2x.png");
    @include media-breakpoint-up(md) {
      background-image: url("../images/bg_mv_pc@2x.png");
    }
  }
}

.input-group-text {
  background-color: $white;
  color: $info;
}

.input-group-prepend {
  & + .form-control {
    border-left: 0;
  }
}

.form-control {
  height: calc(1.5em + 1.3rem + 2px)!important;
  border-radius: 5px 0 0 5px;
  border: none;
  &::placeholder {
    color: #cccccc;
  }
  &:-ms-input-placeholder {
    color: #cccccc;
  }
  &::-ms-input-placeholder {
    color: #cccccc;
  }
}
