/*===================================================
 メインビジュアル
====================================================*/
.mv {

  .container {
    padding: 0;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      max-width: 980px;
      margin: 2rem auto;
    }
  }
}

.input-group-text {
  background-color: $white;
  color: $info;
}

.input-group-prepend {
  & + .form-control {
    border-left: 0;
  }
}

.form-control {
  height: calc(1.5em + 1.3rem + 2px)!important;
  border-radius: 5px 0 0 5px;
  border: none;

  &::placeholder {
    color: #cccccc;
  }

  &:-ms-input-placeholder {
    color: #cccccc;
  }

  &::-ms-input-placeholder {
    color: #cccccc;
  }
}
