/*===================================================
 お知らせ
====================================================*/
.info {
  &-bg {
    position: relative;
    padding: 0 1rem;
    background-color: $light;
    @include media-breakpoint-up(md) {
      text-align: center;
    }
    p {
      color: $primary;
    }
    &::after {
      position: absolute;
      top: 43%;
      right: 1rem;
      transform: rotate(45deg);
      content: "";
      width: 7px;
      height: 7px;
      display: inline-block;
      vertical-align: middle;
      border-top: 1px solid $success;
      border-right: 1px solid $success;
    }
  }
}

/*===================================================
 メインビジュアル
====================================================*/
.mv {
  .container {
    padding: 0;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      max-width: 980px;
      margin: 2rem auto;
    }
  }
}
